[user]
    name = Nicola Mometto
    email = brobronsa@gmail.com
    signinkey = B060D6871BD5AEBC
[core]
    editor = emacsclient -c -nw
    attributesfile = $HOME/.config/git/gitattributes
    excludesfile = $HOME/.gitignore
[push]
    default = simple
[diff "clojure"]
    xfuncname = (^\\(.*|\\s*\\(defn.*)
    compactionHeuristic = true
[alias]
    g = grep --break --heading --line-number
[rerere]
    enabled = true
[branch]
    autoSetupRebase = always
    autoSetupMerge = always
[remote]
    pushDefault = origin
