[submodule ".emacs.d/lib/align-cljlet"]
	path = .emacs.d/lib/align-cljlet
	url = https://github.com/gstamp/align-cljlet.git
[submodule ".emacs.d/lib/auto-complete"]
	path = .emacs.d/lib/auto-complete
	url = https://github.com/auto-complete/auto-complete.git
[submodule ".emacs.d/lib/elein"]
	path = .emacs.d/lib/elein
	url = https://github.com/remvee/elein.git
[submodule ".emacs.d/lib/magit"]
	path = .emacs.d/lib/magit
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/lib/ruby-electric"]
	path = .emacs.d/lib/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule ".emacs.d/lib/smex"]
	path = .emacs.d/lib/smex
	url = https://github.com/nonsequitur/smex.git
[submodule ".emacs.d/lib/undo-tree"]
	path = .emacs.d/lib/undo-tree
	url = https://github.com/emacsmirror/undo-tree.git
[submodule ".emacs.d/lib/backup-dir"]
	path = .emacs.d/lib/backup-dir
	url = https://github.com/emacsmirror/backup-dir.git
[submodule ".emacs.d/lib/eval-sexp-fu"]
	path = .emacs.d/lib/eval-sexp-fu
	url = https://github.com/emacsmirror/eval-sexp-fu.git
[submodule ".emacs.d/lib/highlight"]
	path = .emacs.d/lib/highlight
	url = https://github.com/emacsmirror/highlight.git
[submodule ".emacs.d/lib/markdown-mode"]
	path = .emacs.d/lib/markdown-mode
	url = https://github.com/Bronsa/markdown-mode.git
[submodule ".emacs.d/lib/linum-plus"]
	path = .emacs.d/lib/linum-plus
	url = https://github.com/emacsmirror/linum-plus.git
[submodule ".emacs.d/lib/paredit"]
	path = .emacs.d/lib/paredit
	url = https://github.com/emacsmirror/paredit.git
[submodule ".emacs.d/lib/isearch+"]
	path = .emacs.d/lib/isearch+
	url = https://github.com/emacsmirror/isearch-plus.git
[submodule ".emacs.d/lib/imenu+"]
	path = .emacs.d/lib/imenu+
	url = https://github.com/emacsmirror/imenu-plus.git
[submodule ".emacs.d/lib/haskell-mode"]
	path = .emacs.d/lib/haskell-mode
	url = https://github.com/haskell/haskell-mode.git
[submodule ".emacs.d/lib/nrepl"]
	path = .emacs.d/lib/nrepl
	url = https://github.com/kingtim/nrepl.el.git
[submodule ".emacs.d/lib/ac-nrepl"]
	path = .emacs.d/lib/ac-nrepl
	url = https://github.com/purcell/ac-nrepl.git
[submodule ".emacs.d/lib/auto-highlight-symbol-mode"]
	path = .emacs.d/lib/auto-highlight-symbol-mode
	url = https://github.com/emacsmirror/auto-highlight-symbol.git
[submodule ".emacs.d/lib/ac-slime"]
	path = .emacs.d/lib/ac-slime
	url = https://github.com/purcell/ac-slime.git
[submodule ".zoppo"]
	path = .zoppo
	url = https://github.com/zoppo/zoppo.git
[submodule ".emacs.d/lib/ace"]
	path = .emacs.d/lib/ace
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule ".emacs.d/lib/auto-complete-clang-async"]
	path = .emacs.d/lib/auto-complete-clang-async
	url = https://github.com/Golevka/emacs-clang-complete-async.git
[submodule ".emacs.d/lib/clojure-mode"]
	path = .emacs.d/lib/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
[submodule ".emacs.d/lib/slime"]
	path = .emacs.d/lib/slime
	url = https://github.com/Bronsa/slime.git
[submodule ".emacs.d/lib/popup"]
	path = .emacs.d/lib/popup
	url = https://github.com/auto-complete/popup-el.git
[submodule ".emacs.d/lib/emms"]
	path = .emacs.d/lib/emms
	url = https://github.com/emacsmirror/emms.git
[submodule ".emacs.d/lib/mu4e"]
	path = .emacs.d/lib/mu4e
	url = https://github.com/emacsmirror/mu4e.git
[submodule ".emacs.d/lib/mingus"]
	path = .emacs.d/lib/mingus
	url = git://github.com/pft/mingus.git
[submodule ".emacs.d/lib/yasnippet"]
	path = .emacs.d/lib/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/lib/clojure-mode-hacks"]
	path = .emacs.d/lib/clojure-mode-hacks
	url = https://github.com/kriyative/clojure-emacs-hacks.git
[submodule ".emacs.d/lib/emacs-async"]
	path = .emacs.d/lib/emacs-async
	url = https://github.com/jwiegley/emacs-async.git
