[user]
    name = Nicola Mometto
    email = brobronsa@gmail.com
[core]
    editor = emacsclient -c -nw
	attributesfile = /home/bronsa/.config/git/gitattributes
	excludesfile = /home/bronsa/.gitignore
[push]
    default = simple
[diff "clojure"]
	xfuncname = (^\\(.*|\\s*\\(defn.*)
[alias]
    g = grep --break --heading --line-number
