[user]
    name = Nicola Mometto
    email = me@bronsa.net
[core]
    editor = emacsclient -c -nw
    attributesfile = $HOME/.config/git/gitattributes
    excludesfile = $HOME/.gitignore
[push]
    default = simple
[rerere]
    enabled = true
[branch]
    autoSetupRebase = always
    autoSetupMerge = always
[remote]
    pushDefault = origin
